<div class="ui dimmer visible active"
     (click)="close();false">
  <div class="ui modal visible active"
       (click)="$event.stopPropagation()">
    <i class="close icon"
       aria-label="close modal"
       (click)="close()"
       role="button">
    </i>
    <div class="header">
      <ng-content select="[slot=title]"></ng-content>
    </div>
    <div class="content">
      <ng-content select="[slot=content]"></ng-content>
    </div>
    <div class="actions">
      <button class="ui button"
              (click)="close()">
        <ng-content select="[slot=button]"></ng-content>
      </button>
    </div>
  </div>
</div>