<div class="ui dimmer visible active"
     (click)="close();false">
  <div class="ui modal visible active"
       (click)="$event.stopPropagation()">
    <i class="close icon"
       aria-label="close modal"
       (click)="close()"
       role="button">
    </i>
    <div class="header">
      MODAL!
    </div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, a autem cum quibusdam odit ipsam accusantium
        et praesentium assumenda nam.</p>
    </div>
    <div class="actions">
      <button class="ui button"
              (click)="close()">
        OK
      </button>
    </div>
  </div>
</div>